<<<<<<< HEAD:galeri.css
body{
    background-color: #cc6b49;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  }
  
  img{
    height: 200px;
    width: 250px;
    border-radius: 10px;
  }
  
  .card{
    margin: 22px;
    border-radius: 12px;
  
  }
  
  .blue{
    background-color: #73bdab ;
    display: inline-block;
    border-style: solid;
    border-color: #ECE6C2;
  }
  
  .orange{
    background-color: #d2a24c;
    display: inline-block;
    border-style: solid;
    border-color: #6f5643;
=======
body{
    background-color: #cc6b49;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  }
  
  img{
    height: 200px;
    width: 250px;
    border-radius: 10px;
  }
  
  .card{
    margin: 22px;
    border-radius: 12px;
  
  }
  
  .blue{
    background-color: #73bdab ;
    display: inline-block;
    border-style: solid;
    border-color: #ECE6C2;
  }
  
  .orange{
    background-color: #d2a24c;
    display: inline-block;
    border-style: solid;
    border-color: #6f5643;
>>>>>>> e77a223db79cd6bb2acaa1a036bf18aede92a142:pages/galeri.css
  }