<<<<<<< HEAD:griddanflexbox.css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ECE6C2;
  display: flex;
  justify-content: space-around;
}

h2 {
  text-align: center;
  margin: 15px 0;

}


/* GRID */

.grid {
  height: 680px;
  width: 470px;
  background-color:#22191c;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: 
  'home image image'
  'home phone location'
  'music phone bomb'
  'music heart bomb'
  'truck truck comment'
  'shop shop shop';
  padding: 8px;
  gap: 15px;

}

.shadow {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
}

i {
  color: white;
  font-size: 1.5em;
  margin: auto;
}

.home {
  grid-area: home;
  background-color: #bac7a7;
}

.image {
  grid-area: image;
  background-color: #4c6687;
}

.phone {
  grid-area: phone;
  background-color: #F7C873;
}

.location {
  grid-area: location;
  background-color: #8b0000;
}

.music {
  grid-area: music;
  background-color: #FFAA4D;
}

.heart {
  grid-area: heart;
  background-color: #ff1f57;
}

.bomb {
  grid-area: bomb;
  background-color: #6a8caf;
}

.truck {
  grid-area: truck;
  background-color: #ff6666;
}

.comment {
  grid-area: comment;
  background-color: #9f5f80;
}

.shop {
  grid-area: shop;
  background-color: #011f6d;
}


/* FLEXBOX */

.flex {
  width: 470px;
  height: 680px;
  background-color: #22191c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex .home {
  width: 219px;
  height: 217px;
  margin: 8px;
}

.flex .image {
  width: 219px;
  height: 107px;
  margin: 7px;
}

.flex .music {
  width: 219px;
  height: 219px;
  margin: 7px;
  margin-top: 16px;
}

.tiga {
  display: flex;
  flex-direction: column;
}

.lima {
  display: flex;
}

.flex .phone {
  width: 101px;
  height: 215px;
  margin: 7px;
}

.flex .heart {
  width: 101px;   
  height: 101px;
  margin: 7px;
}

.flex .location {
  width: 101px;   
  height: 101px;
  margin: 7px;
}

.flex .bomb {
  width: 101px;
  height: 215px;
  margin: 7px;
  margin-top: 16px;
}

.enam {
  display: flex;
  flex-direction: column;
}

.tujuh {
  display: flex;
}

.flex .truck {
  width: 336px;
  height: 93px;
  margin: 7px;
}

.flex .comment {
  width: 101px;
  height: 93px;
  margin: 7px;
}

.flex .shop {
  width: 453px;
  height: 93px;
  margin: 7px;
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ECE6C2;
  display: flex;
  justify-content: space-around;
}

h2 {
  text-align: center;
  margin: 15px 0;

}


/* GRID */

.grid {
  height: 680px;
  width: 470px;
  background-color:#22191c;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: 
  'home image image'
  'home phone location'
  'music phone bomb'
  'music heart bomb'
  'truck truck comment'
  'shop shop shop';
  padding: 8px;
  gap: 15px;

}

.shadow {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
}

i {
  color: white;
  font-size: 1.5em;
  margin: auto;
}

.home {
  grid-area: home;
  background-color: #bac7a7;
}

.image {
  grid-area: image;
  background-color: #4c6687;
}

.phone {
  grid-area: phone;
  background-color: #F7C873;
}

.location {
  grid-area: location;
  background-color: #8b0000;
}

.music {
  grid-area: music;
  background-color: #FFAA4D;
}

.heart {
  grid-area: heart;
  background-color: #ff1f57;
}

.bomb {
  grid-area: bomb;
  background-color: #6a8caf;
}

.truck {
  grid-area: truck;
  background-color: #ff6666;
}

.comment {
  grid-area: comment;
  background-color: #9f5f80;
}

.shop {
  grid-area: shop;
  background-color: #011f6d;
}


/* FLEXBOX */

.flex {
  width: 470px;
  height: 680px;
  background-color: #22191c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex .home {
  width: 219px;
  height: 217px;
  margin: 8px;
}

.flex .image {
  width: 219px;
  height: 107px;
  margin: 7px;
}

.flex .music {
  width: 219px;
  height: 219px;
  margin: 7px;
  margin-top: 16px;
}

.tiga {
  display: flex;
  flex-direction: column;
}

.lima {
  display: flex;
}

.flex .phone {
  width: 101px;
  height: 215px;
  margin: 7px;
}

.flex .heart {
  width: 101px;   
  height: 101px;
  margin: 7px;
}

.flex .location {
  width: 101px;   
  height: 101px;
  margin: 7px;
}

.flex .bomb {
  width: 101px;
  height: 215px;
  margin: 7px;
  margin-top: 16px;
}

.enam {
  display: flex;
  flex-direction: column;
}

.tujuh {
  display: flex;
}

.flex .truck {
  width: 336px;
  height: 93px;
  margin: 7px;
}

.flex .comment {
  width: 101px;
  height: 93px;
  margin: 7px;
}

.flex .shop {
  width: 453px;
  height: 93px;
  margin: 7px;
>>>>>>> e77a223db79cd6bb2acaa1a036bf18aede92a142:pages/griddanflexbox.css
}